body{
    background-color: black;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

p{
    font-size: x-large;
}


img{
    border: 5px solid yellow;
    width: 100%;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}